* {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    margin: 0;
    padding:-0;
    box-sizing:border-box;
}

body {
	background: linear-gradient(-45deg, #7f21ba, #3b1255, #1e032e, #7f21ba);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    color: #fff;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
    height: 100px;
    padding-top: 25px;
}

nav {
    width:300px;
    height: 100vh;
    padding:60px;
}


nav a {
    margin-top: 60px;
    font-size:20px;
    text-decoration: none;
    padding-top: 20px;
}

.main {
  padding: 20px;
  color: #fff!important;
  height: 100vh; 
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  padding: 100px;
}

.main h1 {
    font-size:70px;
    font-weight:900;
}




.alles {
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    color:#fff;
    font-weight:100;
}

.btn {
        padding: 10px;
        border: 0px;
        border-radius: 5px;
        margin: 20px;
}


input {
    width: 200px;
    padding: 10px;
    border: 0px solid;
    border-radius: 5px;
    background-color: red;
}



.table1 {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    float: left;
    background-color:black;
    
}

.table2 {
    border: 1px solid white;
    border-radius: 5px;
    padding:10px;
    float: right;
    position: relative;
    background-color:black;
    margin-left: 10px;
}

.smallimg {
    height: 100px;
    width: 100px;
}

.medimg {
    height: 300px;
    width: 300px;
}

.bigimg {
    height: 500px;
    width: 500px;
}

.about {
    padding:5px;
    border: 1px solid white;
    border-radius: 5px;
    text-align:center;

}
.main .about {
    font-size:20px;
    letter-spacing: 2px;
    font-style:italic;

}

.main img {
    height:300px;
    position: absolute;
    margin-left:100px;

}

.main .me {
    margin-top:10px;
    margin-left: 500px;
}

.main .info {
    margin-top:100px;
    font-size:25px;
    position:absolute;
    padding:30px;
    border-radius:5px;
}



p {
    padding:10px;
}

h2 {
    font-weight:bold;
    padding:10px;
}

ul li {
    font-style:italic;
    font-size:20px;
}

ul {
    padding: 20px;
    margin-left: 30px;
}

.purple-shadow {
    text-shadow: 2px 2px 10px #7f21ba;

}

.purple-box {
    box-shadow: 0px 0px 10px #7f21ba;

}

.linkicon {
    height:10px;
}

.about {
    margin-top:50px;
}
.links {
    margin-top:50px;
}